<section class="detail">
  <div class="detail-inner">
    <%= form_with(model: @friends_detail, local: true) do |f| %>
      <div class="detail-form-wrapper">
        <!-- フォームの上部の部分 -->
        <div class="detail-form-top">
          <h2 class="detail-section-title">プロフィール更新画面</h2>
          <h3 class="detail-sub-title">メモしてた内容を編集しよう</h3>
        </div>
        <!-- フォームのメイン部分 -->
        <div class="detail-input-items">
          <!-- 名前の入力アイテム -->
          <div class="detail-input-item">
            <p>情報名</p><br>
            <div class="detail-field">
              <%= f.text_area :feature, {class: 'detail-input-cus'} %>
            </div>
          </div>
          <div class="detail-input-item">
            <p>詳細内容</p>
            <div class="detail-field">
              <%= f.text_area :content, {class: 'detail-input-cus'} %>
            </div>
          </div>
        </div>
        <!-- フォームのボトム部分 -->
        <div class="detail-form-bottom">
          <%= f.submit "更新する", {class: 'detail-btn detail-btn-cus'} %>
        </div>
      </div>
    <% end %>
    <%= javascript_include_tag('application') %>
  </div>
</section>
