<%= form_with(model: @friends_detail, local: true) do |f| %>
  <div class="form_wrapper">
    <div class="input_item">
      <%= f.label :"feature", {class: 'label_cus'} %>
      <%= f.text_field :feature, {class: 'input_cus'} %>
    </div>
    <div class="input_item">
      <%= f.label :"content", {class: 'label_cus'} %>
      <%= f.text_field :content, {class: 'input_cus'} %>
    </div>
    <!-- フォームのボトム部分 -->
    <div class="form_bottom">
      <%= f.submit "更新する", class: "btn btn_cus" %>
    </div>
  </div>
<% end %>