<div class="friends-wrapper">
  <aside id="page-title">
    <% if @friend.user_id == current_user.id %>
      <h1><%= @friend.name %></h1>
    <% else %>
      <a>表示できません。</a>
    <% end %>
    <h3>プロフィール</h3>
  </aside>
  <%= link_to '戻る', friends_path,class:"return-btn" %>
  <% @friends_details.each do |friends_detail| %>
  <div>
    <%= friends_detail.feature %>
    <%= friends_detail.content %>
  </div>
  <% end %>
  <%= link_to 'feature、contentを追加', new_friends_detail_path %>
</div>
