<div class="friends-wrapper">
  <aside id="page-title">
    <h1>人物詳細</h1>
    <h2>今度会うとき、何話す？</h2>
  </aside>
  <div>
    <% if @friend.user_id == current_user.id %>
      <p>
        <strong>名前:</strong>
        <%= @friend.name %>
      </p>
      <p>
        <strong>user_id:</strong>
        <%= @friend.user_id %>
      </p>
      <% @friends_details.each do |friends_detail| %>
        <div>
          <%= friends_detail.feature %>
          <%= friends_detail.content %>
        </div>
      <% end %>
      <%= link_to 'feature、contentを追加', new_friends_detail_path %>
    <% else %>
      <a>表示できません。</a>
    <% end %>
    <%= link_to '戻る', friends_path %>
  </div>
</div>
