<div class="friends-wrapper">
  <aside id="page-title">
    <% if @friend.user_id == current_user.id %>
      <h1><%= @friend.name %></h1>
    <% else %>
      <a>表示できません。</a>
    <% end %>
    <h3>プロフィール</h3>
  </aside>
  <%= link_to '編集', edit_friend_path %>
  <%= link_to '戻る', friends_path ,class:"return-btn" %>
  <div>
    <% @friends_details.each do |friends_detail| %>
      <div>
        <%= friends_detail.feature %>
        <%= friends_detail.content %>
        <%= link_to '編集', edit_friends_detail_path(friends_detail) %>
        <%= link_to '削除', friends_detail, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %>
      </div>
    <% end %>
  </div>
  <%= link_to 'feature、contentを追加', new_friends_detail_path %>
</div>
