<section class="new">
  <% provide(:title, 'Sign up') %>
  <div class="inner">
    <!--  ヘッダー、メイン、フッターの３分割で構成した入力フォーム -->
    <%= form_with(model: @user) do |f| %>
      <div class="form_wrapper">
        <!-- フォームの上部の部分 -->
        <div class="form_top">
          <h2 class="section_title">新規登録</h2>
          <h3 class="sub-title">1分で登録完了!<br>Memopyをさっそく始めてみよう！</h3>
        </div>
        <!-- フォームのメイン部分 -->
        <div class="input_items">
          <!-- 名前の入力アイテム -->
          <div class="input_item" id="input_item">
            <div class="label_wrapper">
              <%= f.label :"お名前", class: 'label_cus' %>
              <span class='label_required'>必須</span>
            </div>
            <div class="field">
              <div class="fake" id="fake">（例）田中  太郎</div>
              <%= f.text_field :name, class: 'input_cus', id: 'input_cus' %>
            </div>
          </div>
          <!-- メールアドレスの入力アイテム -->
          <div class="input_item">
            <div class="label_wrapper">
              <%= f.label :"メールアドレス", class: 'label_cus' %>
              <span class='label_required'>必須</span>
            </div>
            <div class="field">
              <div class="fake" id="fake">example@memopy.com</div>
              <%= f.email_field :email, class: 'input_cus', id: 'input_cus' %>
            </div>
          </div>
          <!-- パスワードの入力アイテム -->
          <div class="input_item">
            <div class="label_wrapper">
              <%= f.label :"パスワード", class: 'label_cus' %>
              <span class='label_required'>必須</span>
            </div>
            <div class="field">
              <div class="fake" id="fake">半角英数で入力</div>
              <%= f.password_field :password, class: 'input_cus' %>
            </div>
          </div>
          <!-- パスワード（確認）の入力アイテム -->
          <div class="input_item">
            <div class="label_wrapper">
              <%= f.label :password_confirmation, "パスワード（確認）", class: 'label_cus' %>
              <span class='label_required'>必須</span>
            </div>
            <div class="field">
              <div class="fake" id="fake">パスワードを再入力</div>
              <%= f.password_field :password_confirmation, class: 'input_cus' %>
            </div>
          </div>
        </div>
        <!-- フォームのボトム部分 -->
        <div class="form_bottom">
          <%= f.submit "登録する", class: "btn btn_cus" %>
        </div>
      </div>
    <% end %>
  </div>
</section>
<script>
//プレースホルダー風の文字のアニメーション
var inputs = document.querySelectorAll('.field input')
for (var i = 0, len = inputs.length; i < len; i++) {
  var input = inputs.item(i)
  input.addEventListener('click', (e) => {
    var target = e.target
    var label = target.previousElementSibling
    target.classList.add('focus')
    label.classList.add('move', 'focus')
  })
  input.addEventListener('blur', (e) => {
    var target = e.target
    var label = target.previousElementSibling
    if (target.value.length === 0) {
      label.classList.remove('move')
    }
    target.classList.remove('focus')
    label.classList.remove('focus')
  })
}
</script>