<!DOCTYPE html>
<html>
  <head>
    <title>Memopy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%# ここからヘッダー %>
  <header>
    <div id="header-wrapper">
      <h2>Memopy</h2>
        <nav class="header-list">
          <ul>
            <li><a href="index.html">人物一覧</a></li>
            <li><a href="add.person.html">人物追加</a></li>
            <li><a href="likes.html">お気に入り</a></li>
            <li><a href="login.html">ログアウト</a></li>    
            <%# 　ここから将来的に実装予定のページ %>
            <%#   <li><a href="skill.html">雑談テクニック</a></li>  %> 
            <%#   <li><a href="movie.html">動画</a></li>  %>         
            <%#   ここまで将来的に実装予定のページ　%>
          </ul>
        </nav>
    </div>
  </header>
  <%# ここまでヘッダー %>

    <%= yield %>
  </body>
</html>
